@require 'cozy-ui'

[role=application]// @stylint ignore
    @extend $navigation

.coz-nav--disabled
    .coz-nav-item
        pointer-events none
    .coz-nav-item:hover
        &::before
            background transparent
