@require 'cozy-ui'

button-color = #ff5c00

.sidebar
    width            em(220px)
    border-right     1px solid grey-09
    background-color grey-10
    justify-content  space-between

    @media (max-width: (1023/basefont)rem)
        border-top  1px solid grey-09
        border-left none

        & > aside
            flex-basis 3.5rem

        .edf-contact-button
            display none

        .coz-nav-link
            padding-top 3em

        .coz-nav
            margin 0

